.profile-password form .button {
  width: auto;
  margin-right: 16px;
  margin-top: 30px;
}

.profile-password form .input-wrap + .input-wrap {
  margin-top: 30px;
}

@media all and (min-width: 768px) {
  .profile-password form {
    max-width: 280px;
    margin-top: 30px;
  }
  .profile-password form .button {
    margin-top: 40px;
  }
}
