.profile-info form.big-form .button {
  width: auto;
  margin-right: 16px;
}

@media all and (min-width: 768px) {
  .profile-info form {
    margin-top: 30px;
  }
  .profile-menu .select-wrap ul li a {
    width: 100%;
    display: block;
  }
}
