* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #19293e;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

label {
  margin-bottom: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(200, 200, 200, 0.43);
  background-color: #fff;
  z-index: 100;
  box-shadow: 2px 6px 27px rgba(173, 185, 198, 0.08);
}

.header__wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header__nav-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header__user-info-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.header__user-stats {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #8f9bab;
}

.header__user-stats-nums {
  font-weight: 600;
  color: #19293e;
}

.header__nav-item {
  cursor: pointer;
}

@media all and (min-width: 320px), (max-width: 319px) {
  .header {
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .header__mobile-nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .header__mobile-nav-wrapper::-webkit-scrollbar {
    display: none;
  }
  .header__mobile-nav-wrapper::-webkit-scrollbar {
    width: 0 !important;
  }
  .header__mobile-nav-wrapper {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .header__burger-menu {
    z-index: 1100;
  }
  .header__burger-line {
    width: 40px;
    height: 3px;
    background-color: #19293e;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__burger-line:first-of-type {
    margin-bottom: 4px;
  }
  .header__burger-menu--active .header__burger-line:first-of-type {
    -webkit-transform: rotate(45deg) translate(3px, 3px);
    -ms-transform: rotate(45deg) translate(3px, 3px);
    transform: rotate(45deg) translate(3px, 3px);
  }
  .header__burger-menu--active .header__burger-line:last-of-type {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
  }
  .header__mobile-nav {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: right 0.3s;
    z-index: 1000;
  }
  .mobile-header--open .header__mobile-nav {
    right: 0;
  }
  .header-mobile__user-info-wrapper {
    padding-left: 25px;
  }
  .header-mobile__user-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #19293e;
  }
  .header-mobile__log {
    margin: 50px 0;
  }
  .logined .header-mobile__log-in {
    display: none;
  }
  .not-logined .header-mobile__log--out {
    display: none;
  }
  .not-logined .header-mobile__user-info-wrapper {
    display: none;
  }
  .header-mobile__nav-list {
    margin-top: 90px;
  }
  .header-mobile__nav-list-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 100%;
    overflow-y: scroll;
    overflow-x: initial;
    scrollbar-width: none;
  }
  .header-mobile__nav-list-wrapper::-webkit-scrollbar {
    display: none;
  }
  .header-mobile__nav-list-wrapper::-webkit-scrollbar {
    width: 0 !important;
  }
  .header-mobile__nav-list-wrapper {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .header-mobile__nav-list-wrapper .header-mobile__nav-item:not(:last-of-type) {
    margin-bottom: 24px;
  }
  .header-mobile__nav-item {
    text-align: center;
  }
  .header-mobile__nav-list-wrapper,
  .header-mobile__nav-list,
  .header-mobile__nav-item {
    transition: height 0.3s;
  }
  .header-mobile__log {
    text-align: center;
    display: block;
    margin-top: 80px;
  }
  .header-mobile__log,
  .header-mobile__nav-link {
    font-family: "Merriweather", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #19293e;
  }
  .header-mobile__nav-item--submenu {
    position: relative;
  }
  .header-mobile__nav-item--submenu::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 15px;
    height: 10px;
    background: url("../images/icons/arrow_down.svg") 50% 50% no-repeat;
    background-size: contain;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: top 0.3s, -webkit-transform 0.3s;
    transition: top 0.3s, transform 0.3s;
    transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .header-mobile__nav-item--submenu-active::after {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    top: 14px;
  }
  .mobile-nav__submenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 12px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    height: 0;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transition: height 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, height 0.3s;
    transition: transform 0.3s, height 0.3s, -webkit-transform 0.3s;
  }
  .mobile-nav__submenu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mobile-nav__submenu > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .mobile-nav__submenu-item:first-of-type,
  .mobile-nav__submenu-item:nth-of-type(2) {
    margin-top: 15px;
  }
  .header-mobile__nav-item--submenu-active .mobile-nav__submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    height: 100%;
  }
  .mobile-nav__submenu-link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #19293e;
  }
  .header__user-stats {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 19px;
  }
  .desktop-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .header__nav-item {
    position: relative;
  }
  .header__nav-submenu {
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    display: -ms-grid;
    background-color: #fff;
    display: grid;
    -ms-grid-columns: minmax(50px, 1fr) 50px minmax(50px, 1fr) 50px minmax(50px, 1fr) 50px minmax(50px, 1fr);
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 12px;
    border-radius: 5px;
    padding: 20px 25px;
    box-shadow: 2px 6px 27px rgba(173, 185, 198, 0.25);
    opacity: 0;
    transition: all 0.35s;
  }
  .header__nav-submenu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__nav-submenu > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .header__nav-submenu > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .header__nav-submenu > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .header__nav-item--submenu-active .header__nav-submenu {
    top: 50px;
    opacity: 1;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
  .header__nav-submenu-item {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    text-align: center;
  }
  .header__nav-item--submenu::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    width: 10px;
    height: 6px;
    background: url("../images/icons/arrow_down.svg") 50% 50% no-repeat;
    background-size: contain;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__nav-item--submenu-active::after {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
  }
  .header__nav-submenu-link {
    font-size: 14px;
    line-height: 21px;
  }
  .header__nav-item:not(:last-of-type) {
    margin-right: 20px;
  }
  .header__user-name,
  .header__nav-item-link {
    font-size: 12px;
    line-height: 18px;
    color: #19293e;
  }
  .logined .header__user-login-button {
    display: none;
  }
  .not-logined .header__user-info-wrapper {
    display: none;
  }
  .header__user-stats {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 992px) {
  .header__nav-item:not(:last-of-type) {
    margin-right: 44px;
  }
  .header__user-name,
  .header__nav-item-link {
    font-size: 14px;
    line-height: 21px;
  }
  .header__user-stats {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer {
  border-top: 1px solid rgba(200, 200, 200, 0.43);
}

.footer__wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.footer__copyright {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}

.footer__copyright-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #4F6888;
}

.footer__rights {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.footer__rights-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.footer__rights-item {
  position: relative;
}

.footer__rights-item {
  margin-right: 12px;
}

.footer__rights-item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -6px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 14px;
  width: 1px;
  background-color: #4F6888;
}

.footer__social {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.footer__rights-link {
  font-style: normal;
  font-weight: normal;
  color: #4F6888;
}

.footer__socials-picture {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  border-radius: 4px;
  background-color: #4f68885f;
  transition: background-color 0.3s;
}

.footer__socials-picture:hover,
.footer__socials-picture:focus {
  background-color: rgba(79, 104, 136, 0.43);
}

.footer__social .footer__socials-picture:first-of-type {
  margin-right: 5px;
}

.footer__socials-image {
  margin: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

@media all and (min-width: 320px), (max-width: 319px) {
  .footer {
    padding: 24px 0 19px;
  }
  .footer__wrapper {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__rights {
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .footer__rights-item:last-of-type::after {
    display: none;
  }
  .footer__socials-picture {
    width: 35px;
    height: 35px;
  }
  .footer__socials-image {
    width: 20px;
    height: 20px;
  }
  .footer__rights-item:first-of-type {
    display: none;
  }
  .footer__rights-link {
    font-size: 16px;
    line-height: 170%;
  }
  .footer__rights {
    margin-bottom: 22px;
  }
  .footer__copyright-text {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 38px 0;
  }
  .footer__wrapper {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row;
  }
  .footer__rights {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }
  .footer__rights-item:last-of-type::after {
    display: block;
  }
  .footer__socials-picture {
    width: 19px;
    height: 19px;
  }
  .footer__socials-image {
    width: 11px;
    height: 11px;
  }
  .footer__rights-item:first-of-type {
    display: block;
  }
  .footer__rights-link {
    font-size: 14px;
    line-height: 21px;
  }
  .footer__rights {
    margin-bottom: 0;
  }
  .footer__copyright-text {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather;
}

h2 {
  font-size: 29px;
  line-height: 36px;
}

a:hover {
  color: #D93025;
}

.site-holder {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 25px;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  margin-top: 90px !important;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  font-family: Poppins;
}

.btn-primary {
  background: #D93025;
  color: #fff !important;
  border: none;
}

.btn-primary:hover {
  background: rgba(217, 48, 37, 0.8);
}

.btn-empty {
  border: 1px solid #d6d6d6;
  background: none;
}

.btn-empty:hover {
  background: #D93025;
  color: #fff;
}

textarea {
  resize: none;
  height: 120px;
  width: 100%;
  border: 1px solid #b4bac2;
  border-radius: 5px;
  outline: none;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
  background: none;
}

label {
  color: #b4bac2;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
}

label[for="message"] {
  margin-bottom: 8px;
}

input {
  border: none;
  border-bottom: 1px solid #b4bac2;
  outline: none;
  height: 35px;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  width: 100%;
  background: none;
}

input.input-error {
  border-bottom: 1px solid #e74c3c;
}

input.input-correct {
  border-bottom: 1px solid #2ecc71;
}

input[type="password"] {
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 2px;
  padding-right: 20px;
}

input[type="password"]::-webkit-input-placeholder {
  color: #b4bac2;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
}

input[type="password"]::-ms-input-placeholder {
  color: #b4bac2;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
}

input[type="password"]::placeholder {
  color: #b4bac2;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 17px;
  background: url("../images/icons/eye_closed.svg") center center no-repeat;
  width: 17px;
  height: 7px;
  cursor: pointer;
}

.toggle-password.open {
  background: url("../images/icons/eye_open.svg") center center no-repeat;
  width: 16px;
  height: 11px;
  top: 14px;
}

.select-wrap {
  position: relative;
}

.select-wrap input {
  display: none;
}

.select-wrap span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  height: 35px;
  padding-right: 20px;
  border-bottom: 1px solid #b4bac2;
  position: relative;
  cursor: pointer;
}

.select-wrap span:after {
  content: "";
  background: url("../images/icons/arrow_down.svg") center center no-repeat;
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 7px;
  right: 5px;
  top: 14px;
  transition: all 0.25s;
}

.select-wrap span.active:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-wrap span.active + ul {
  display: block;
}

.select-wrap ul {
  display: none;
  list-style: none;
  top: 35px;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  padding: 14px 25px;
  box-shadow: 3px 7px 27px rgba(107, 116, 124, 0.12);
}

.select-wrap ul li {
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.select-wrap ul li:hover {
  color: #D93025;
}

.select-wrap ul li.active {
  color: #D93025;
}

.input-wrap {
  position: relative;
}

.input-wrap + .input-wrap {
  margin-top: 30px;
}

.form-group + .form-group {
  margin-top: 30px;
}

.textarea-wrap {
  margin-top: 30px;
}

.error {
  color: #e74c3c;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.correct {
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

input::-webkit-input-placeholder {
  color: #b4bac2;
}

input::-ms-input-placeholder {
  color: #b4bac2;
}

input::placeholder {
  color: #b4bac2;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #939ca5;
  border-radius: 1px;
  margin-right: 8px;
  margin-bottom: -3px;
}

input[type="checkbox"]:checked + label:before {
  background: url("../images/icons/checkmark.svg") center center no-repeat;
  border: none;
  width: 17px;
  height: 17px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #19293e;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #939ca5;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: -2px;
}

input[type="radio"]:checked + label:before {
  background: url("../images/icons/active.svg") center center no-repeat;
  background-size: cover;
  border: none;
  width: 14px;
  height: 14px;
}

.btn-facebook:hover {
  background: #1877f2;
  color: #fff;
}

.btn-facebook:hover span {
  color: #fff;
}

.btn-apple:hover {
  background: #000;
  color: #fff;
}

.btn-apple:hover span {
  color: #fff;
}

.gender {
  margin: 30px 0;
  font-size: 14px;
}

.gender span {
  display: block;
  margin-bottom: 11px;
}

.gender label[for="male"] {
  display: inline-block;
  margin-right: 70px;
}

.have-acc {
  margin-top: 13px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.have-acc a {
  color: #D93025;
  font-weight: bold;
}

form.big-form .checkbox-wrap > div + div {
  margin-top: 8px;
}

form.big-form .checkbox-wrap label {
  padding-left: 28px;
  color: #939ca5;
}

form.big-form .checkbox-wrap label:before {
  position: absolute;
  left: 0px;
  top: 2px;
}

form.big-form .checkbox-wrap p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
}

form.big-form .form-group + .form-group {
  margin-top: 30px;
}

form.big-form .form-group .input-wrap:last-child {
  margin-top: 30px;
}

form.big-form .button {
  width: 100%;
  margin-top: 25px;
}

.modal {
  display: none;
  padding: 26px 35px 35px;
  border-radius: 5px;
}

.modal.red-head-modal {
  border-top: 8px solid #D93025;
}

.modal-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.modal-body {
  padding-top: 15px;
  border-top: 1px solid #c8c8c9;
  font-size: 14px;
  line-height: 21px;
}

.modal-body a {
  color: #D93025;
  font-weight: bold;
}

.modal-body a:hover {
  text-decoration: underline;
}

.modal .fancybox-button {
  display: none;
}

.modal__close-btn {
  display: block !important;
  width: 17px;
  height: 17px;
}

.verify-modal {
  max-width: 360px;
}

.verify-modal .modal-body span {
  color: #6c85a7;
}

.verify-modal button {
  width: 100%;
  margin-top: 20px;
}

.profile-wrap {
  padding-top: 30px;
  padding-bottom: 60px;
}

.profile-body .title,
.profile-body .subtitle {
  display: none;
}

.profile-body .title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.profile-body .subtitle {
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.profile-menu {
  margin-bottom: 50px;
}

.profile-menu h2 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}

.profile__logout {
  display: none;
}

.card {
  padding: 15px 15px 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(83, 83, 83, 0.1);
  border-radius: 5px;
  border-top: 8px solid #D93025;
}

.card__line-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__line-wrap > div:nth-child(even) {
  text-align: right;
}

.card p.card__small-title {
  font-size: 14px;
  line-height: 21px;
  color: #8c949f;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #19293e;
}

@media all and (min-width: 768px) {
  main {
    margin-top: 101px !important;
  }
  h2 {
    text-align: center;
    font-size: 36px;
    line-height: 52px;
  }
  .profile-wrap {
    padding-top: 70px;
    padding-bottom: 87px;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: 66px;
  }
  .profile-menu h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
  .profile-menu .select-wrap span {
    display: none;
  }
  .profile-menu .select-wrap ul {
    display: block;
    box-shadow: none;
    position: static;
    padding: 0;
  }
  .profile-menu .select-wrap ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 218.5%;
  }
  .profile-menu .select-wrap ul li.active a {
    text-decoration: underline;
    font-weight: 600;
  }
  .profile__logout {
    display: block;
    margin-top: 40px;
  }
  .profile-body .title,
  .profile-body .subtitle {
    display: block;
  }
  .card {
    border-top: none;
    border-left: 8px solid #D93025;
    padding: 25px 40px;
  }
}

@media all and (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    font-size: 36px;
    line-height: 52px;
  }
  .have-acc {
    text-align: left;
    margin-top: 15px;
  }
  form.big-form .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
  }
  form.big-form .form-group .input-wrap:last-child {
    margin: 0;
  }
  form.big-form .form-group + .form-group {
    margin-top: 38px;
  }
  form.big-form .checkbox-wrap {
    margin-top: 32px;
  }
  form.big-form .checkbox-wrap label {
    max-width: none;
    font-size: 16px;
    line-height: 24px;
  }
  form.big-form .button {
    margin-top: 40px;
  }
  .gender {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 14px;
  }
  .gender span {
    margin: 0;
  }
  .gender label[for="male"] {
    margin-right: 0px;
  }
}

@media all and (min-width: 1280px) {
  h2 {
    text-align: center;
    font-size: 41px;
    line-height: 52px;
  }
}
